@page
@model ProjectHealth.Web.Pages.Admin.LoginModel
@{
}

<form method="post">
    <div class="container border p-3 mt-4">
        <div class="mt-4">
            <label class="mb-3">Username</label>
            <input type="text" asp-for="Login.UserName" class="form-control" />
            <span asp-validation-for="Login.UserName" class="text-danger"></span>
        </div>
        <div class="mt-4">
            <label class="mb-3">Password</label>
            <input type="text" asp-for="Login.Password" class="form-control" />
            <span asp-validation-for="Login.Password" class="text-danger"></span>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn-primary btn" style="width:150px">Login</button>
        </div>

    </div>
</form>

